/* Login */
#bg-login {
  background-color: var(--color-descricao);
}

#grid-suspeito {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-suspeito {
  width: 100%;
  max-width: 65%;
}

.btn-suspeito {
  background-color: var(--color-primary);
  width: 20%;
  border: none;
  margin: 0 5px;
 
}

.button-grid {
  display: flex;
  justify-content: center;
}

.btn-suspeito:hover {
  background-color: var(--color-primary);
}