/* Login */
#bg-login {
  background-color: var(--color-descricao);
}

#grid-suspeito {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-suspeito {
  width: 100%;
  max-width: 65%;
}

.btn-suspeito {
  background-color: var(--color-primary);
  width: 20%;
  border: none;
  margin: 0 5px;

}

.button-grid {
  display: flex;
  justify-content: center;
}

.btn-suspeito:hover {
  background-color: var(--color-primary);
}

.button-adm {
  width: 200px;
  height: 46px;
  background-color: var(--color-primary);
  border: none;
  font-weight: 700;
}

.button-adm:hover {
  background-color: var(--color-primary);
  border: none;
}

.button-adm-cadastro {
  width: 200px;
  height: 46px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 700;
}

.button-adm-cadastro:hover {
  background-color: var(--color-primary);
  border: none;
}

.button-grid {
  display: flex;
  align-items: center;
  gap: 15px;
}

.line {
  width: 1723px;
  height: 0px;
  border: 1px solid rgba(216, 216, 216, 0.50);
}

.destaque-adm {
  color: var(--color-primary);
  font-weight: 700;
  text-align: center;
  padding: 65px 0;
}