#banner-adm{
  width: 100%;
  height: 250px;
  background-image: url(/src/assets/images/bg-blue.svg);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}

.tittle-suspeito {
  color: white;
}

.grid-menu-adm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}