#banner-adm{
  width: 100%;
  height: 250px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font);
}
.custon-banner-adm {
  max-width: 650px;
}