/* Home */
#banner {
  width: 100%;
  height: 568px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(../images/banner-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  
}

.text-banner {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  max-width: 100%;
}
.tittle-home {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 25px;
  max-width: 100%;
}

.tittle-banner {
  font-family: var(--font-primary);
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 35px;
}


.btn-banner {
  font-weight: 500;
  color: var(--color-primary);
  background-color: white;
  border: 1px solid;
  padding: 15px;
}

.btn-banner:hover {
  color: white;
  border: 1px solid var(--color-gray);

}

/* Login */
#bg-login {
  background-color: var(--color-descricao);
}

#box-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.box {
  width: 96%;
  max-width: 516px;
  background-color: var(--color-secundary);
  padding: 64px 48px;
  border-radius: 10px;

  box-shadow: -1px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.logo-login {
padding-bottom: 46px;
}

.gray {
  color: var(--color-description);
  font-weight: 500;
}

.login {
  background-color: var(--color-primary);
  width: 100%;
  border: none;
 
}

.login:hover {
  /* border: 2px solid var(--color-primary); */
  background-color: var(--color-primary);
  /* color: var(--color-primary); */
}

.person {
  background-image: url(../images/person-outline.svg);
}

.senha {
  text-decoration: none;
  padding: 15px 0;
  color: var(--color-primary);
  font-weight: 600;
}