footer {
  background-color: var(--color-gray);
  height: 100px;
  
}

.rodape {
  display: flex;
    justify-content: center;
    align-items: center;
  
  

  margin: 0 50px;

}

a {
  text-decoration: none;
}

#social {
  color: white;
}