footer {
  background-color: var(--color-gray);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.links-rodape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-repo {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);
}

.link-repo:hover {
  color: var(--color-primary);
}
