.tabela-suspeitos {
  width: 100%;
  margin: 0 0 5% 0;
}

.custom-table {
  background-color: var(--bs-table-bg) !important;
}

.pagination-container {
  text-align: center;
  margin-top: px;
  --bs-link-color: var(--color-primary);
}

.custom-pagination-item {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

}

.custom-pagination-item.active {
  --bs-pagination-active-bg: var(--color-primary);
  --bs-pagination-active-border-color: var(--color-primary);
  --bs-pagination-hover-color: var(--color-primary);
  background-color: var(--color-primary);
  
}

.pagination {
  --bs-link-hover-color: var(--color-primary);
  --bs-pagination-active-bg: var(--color-primary);
  --bs-pagination-active-border-color: var(--color-primary);
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--bs-link-hover-color);
}