#bg-login {
  background-color: var(--color-primary);
}


#box-login {
  background-color: var(color-secundary);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

