:root {

  /* Fonts */
  --font-primary: font-family: 'Roboto', sans-serif;
  --font-secundary: font-family: 'Raleway', sans-serif;
  --font-tertiary: font-family: 'Inclusive Sans', sans-serif;

  /* Color */
  --color-primary: #5500ff;
  --color-gray: #f5f5f5;
  --color-text: #23292e;
  --color-description: #666666;

  /* Color Legendas */
  --color-menor-risco: #FFC700;
  --color-maior-risco: #FF0000;
  

  
  --color-bg-yellow: rgba(255, 199, 0, 0.10);;
  --color-bg-red: rgba(255, 0, 0, 0.10);
}

* {
  font-family: var(--font-secundary);

  margin: 0;
  padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}