:root {

  /* Fonts */
  --font-primary: font-family: 'Inter', sans-serif;

  /* Color */
  --color-primary: #5500ff;
  --color-secundary: #ffffff;
  --color-tertiary: #000000;
  --color-destaque: #595959;

}

* {
  font-family: var(--font-primary);

  margin: 0;
  padding: 0;
}