:root {

  /* Fonts */
  --font-primary: font-family: 'Roboto', sans-serif;
  --font-secundary: font-family: 'Raleway', sans-serif;
  --font-tertiary: font-family: 'Inclusive Sans', sans-serif;

  /* Color */
  --color-primary: #5500ff;
  --color-gray: #f5f5f5;
  --color-text: #23292e;
  --color-description: #666666;

}

* {
  font-family: var(--font-secundary);

  margin: 0;
  padding: 0;
}