.container-grid {
  display: flex;
  flex-wrap: wrap;
 
}

.item {
  flex-grow: 1;
  flex-basis: 200;
}



.banner-5 {
  background-color: var(--color-primary);
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tabela___ {
  width: 100%;
  padding: 5% 0;
}
